<div class="container">
    <div class="login" >
        <h2 *ngIf="!this._auth.isLoggedIn()">Már vásároltál nálunk?</h2>
        <app-login *ngIf="!this._auth.isLoggedIn()"  [shouldRoute]="false" ></app-login>
    </div>
    <div class="address">
        <h2 *ngIf="!this._auth.isLoggedIn()">Vásárlás regisztráció nélkül</h2>
        <h2 *ngIf="this._auth.isLoggedIn() && !filledProfile">Adatok megadása</h2>
        <h2 *ngIf="this._auth.isLoggedIn() && filledProfile">Vásárlási adatok ellenőrzése</h2>
        <app-user-details [inshopping]="true" [stepper]="stepper" [emitter]="finishedEvent"></app-user-details>
    </div>
</div>