.container{
    display: grid;
    grid-template-areas: 'left right';
    align-items: top;
    grid-gap: 30px;
    padding: 0;
}
.login{
    align-self: top;
    grid-area: left;
    width: 100%;
    min-width: 30vw;
}
.address{
    grid-area: right;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .container{
       
        grid-template-areas: 
        'left'
         'right';
    }
}
.full-width{
    width: 100%;
}
.endButton{
    float:right;
    margin-top: 2%
}
