<div class="container">
  <div [hidden]="user">
    <div id="recaptcha-container"></div>

    <button (click)="sendLoginCode()">Küldheted a kódot</button>

    <div *ngIf="windowRef.confirmationResult">
      <hr>
      <label for="code">Azonosító kód:</label><br>
      <input type="text" name="code" [(ngModel)]="verificationCode">

      <button (click)="verifyLoginCode()">Ellenőrzés</button>
    </div>

  </div>

</div>