<div class="container">
    <div class="ship">
        <mat-radio-group class="example-radio-group" [(ngModel)]="shipping">
            <mat-radio-button class="example-radio-button" [value]="0" color="primary">
                Normál szállítás a magyar Postával 1300 ft
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="1" color="primary">
                Elsőbbségi szállítás a magyar Postával 2300 ft
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="pay">
        <mat-radio-group class="example-radio-group" [(ngModel)]="payment">
            <mat-radio-button class="example-radio-button" [value]="0" color="primary">
                Előreutalás
            </mat-radio-button>
        </mat-radio-group>
    </div>
    
</div>
<button type="button" class="btn btn-warning btn-round" (click)="send()" style=" max-width:200px; float:right;">Tovább a fizetéshez</button>