.container{
    display: grid;
    grid-template-areas: 'left right';
    align-items: top;
    grid-gap: 30px;
    padding: 0;
}
.ship{
    align-self: top;
    grid-area: left;
    width: 100%;
}
.pay{
    grid-area: right;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .container{
       
        grid-template-areas: 
        'left'
         'right';
    }
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }