.details{
    margin-top: 12vh;
}
.userForm{
    min-width: 300px;
    width: 500px;
    margin: auto;
    padding: 5%;
}
.submitButton{
    min-width: 300px;
    width: 500px;
    margin: auto;
    margin-top: 2%;
}
.input{
    width: 100%;
}
.padding{
    padding-top: 5%;
}
.image-cropper{
    width: 10vw;
    height: 10vw;
    margin: 5% auto 5% auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.image-cropper img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}