<div [ngClass]="details">
  <h3 *ngIf="welcome">{{welcome}}</h3>
  <form [formGroup]="userBillingForm" (ngSubmit)="send()">
    <mat-card class="userForm">
      <mat-card-header>
        <mat-card-title >Adatok szerkesztése</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <input hidden type="file" #imgFileInput (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg"  />
        <div class="image-cropper">
          <img *ngIf="!imgUrl" src="../../assets/images/avatars/noavatar.png" >
          <img *ngIf="imgUrl" src="{{imgUrl}}">
        </div>
        <div style="width:100%" *ngIf="!inshopping">
          <button type="button" class="btn btn-warning btn-round"  style="margin: 5% auto 5% auto;display: block;" (click)="imgFileInput.click()">Profilkép feltöltése</button>
        </div>
       
        <mat-form-field class="input">
          <input matInput autocomplete="on" class="padding" placeholder="Vezetéknév" formControlName="lastName" required>
          <mat-error *ngFor="let validation of validation_messages.lastName">
            <mat-error class="error-message" *ngIf="userBillingForm.get('lastName').hasError(validation.type) && (userBillingForm.get('lastName').dirty || userBillingForm.get('lastName').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput autocomplete="on" class="padding" placeholder="Keresztnév" formControlName="firstName" required>
          <mat-error *ngFor="let validation of validation_messages.firstName">
            <mat-error class="error-message" *ngIf="userBillingForm.get('firstName').hasError(validation.type) && (userBillingForm.get('firstName').dirty || userBillingForm.get('firstName').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput autocomplete="on" class="padding" placeholder="Email cím" type="email" formControlName="email" required>
          <mat-error *ngFor="let validation of validation_messages.email">
            <mat-error class="error-message" *ngIf="userBillingForm.get('email').hasError(validation.type) && (userBillingForm.get('email').dirty || userBillingForm.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput autocomplete="on" class="padding" placeholder="Telefonszám" type="phone" formControlName="phone" required>
          <mat-error *ngFor="let validation of validation_messages.phone">
            <mat-error class="error-message" *ngIf="userBillingForm.get('phone').hasError(validation.type) && (userBillingForm.get('phone').dirty || userBillingForm.get('phone').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput autocomplete="on" class="padding" placeholder="Irányítószám" type="number" formControlName="postCode" required>
          <mat-error *ngFor="let validation of validation_messages.postCode">
            <mat-error class="error-message" *ngIf="userBillingForm.get('postCode').hasError(validation.type) && (userBillingForm.get('postCode').dirty || userBillingForm.get('postCode').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput autocomplete="on" class="padding" placeholder="Város" formControlName="city" required>
          <mat-error *ngFor="let validation of validation_messages.city">
            <mat-error class="error-message" *ngIf="userBillingForm.get('city').hasError(validation.type) && (userBillingForm.get('city').dirty || userBillingForm.get('city').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input matInput autocomplete="on" class="padding" placeholder="Utca házszám" formControlName="street" required>
          <mat-error *ngFor="let validation of validation_messages.street">
            <mat-error class="error-message" *ngIf="userBillingForm.get('street').hasError(validation.type) && (userBillingForm.get('street').dirty || userBillingForm.get('street').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <mat-checkbox color="primary" [(ngModel)]="isTheSame" [ngModelOptions]="{standalone: true}">A számlázási
          adataim megegyeznek a szállítási adataimmal!</mat-checkbox><br>
        <mat-checkbox color="primary" [(ngModel)]="isCompany" [ngModelOptions]="{standalone: true}">Cég nevében
          regisztráltam</mat-checkbox>
      </mat-card-actions>
    </mat-card>





    <form [formGroup]="userShippingForm" *ngIf="!isTheSame">
      <mat-card class="userForm">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content  >
          <mat-form-field class="input">
            <input matInput autocomplete="on" class="padding" placeholder="Irányítószám" type="number" formControlName="postCode"
              required>
            <mat-error *ngFor="let validation of validation_messages.postCode">
              <mat-error class="error-message" *ngIf="userShippingForm.get('postCode').hasError(validation.type) && (userShippingForm.get('postCode').dirty || userShippingForm.get('postCode').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input">
            <input matInput autocomplete="on" class="padding" placeholder="Város" formControlName="city" required>
            <mat-error *ngFor="let validation of validation_messages.city">
              <mat-error class="error-message" *ngIf="userShippingForm.get('city').hasError(validation.type) && (userShippingForm.get('city').dirty || userShippingForm.get('city').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input">
            <input matInput autocomplete="on" class="padding" placeholder="Utca házszám" formControlName="street" required>
            <mat-error *ngFor="let validation of validation_messages.street">
              <mat-error class="error-message" *ngIf="userShippingForm.get('street').hasError(validation.type) && (userShippingForm.get('street').dirty || userShippingForm.get('street').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </form>
    <form [formGroup]="userCompanyForm"  *ngIf="isCompany">
      <mat-card class="userForm">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="input">
            <input matInput autocomplete="on" class="padding" placeholder="Cég neve" formControlName="name" required>
            <mat-error *ngFor="let validation of validation_messages.name">
              <mat-error class="error-message" *ngIf="userCompanyForm.get('name').hasError(validation.type) && (userCompanyForm.get('name').dirty || userCompanyForm.get('name').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input">
            <input matInput autocomplete="on" class="padding" placeholder="Adószám" formControlName="taxNumber" required>
            <mat-error *ngFor="let validation of validation_messages.tax">
              <mat-error class="error-message" *ngIf="userCompanyForm.get('taxNumber').hasError(validation.type) && (userCompanyForm.get('taxNumber').dirty || userCompanyForm.get('taxNumber').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>
    <div class="submitButton">
      <button class="btn btn-warning btn-round" style="float:right;margin-bottom: 2%;" color="primary" type="submit" [disabled]="!userBillingForm.valid || (!isTheSame &&  !userShippingForm.valid) || (isCompany && !userCompanyForm.valid)">Küldés</button>
    </div>
  </form>
</div>