<mat-card cascade="true" wider="true" class=" card card-cascade narrower card-ecommerce">
  <!--Card image-->
  <div  [routerLink]="['/product', product.id]">
  <div >
    <div class="view view-cascade overlay waves-light customImage" mdbWavesEffect>
      <img *ngIf="product.pictures && product.pictures.length!=0" class="img-fluid img" src="{{URLDownload}}{{product.pictures[0]}}"
        alt="{{product.name}}" width="400" height="50">
      <img *ngIf="product.pictures && product.pictures.length==0" class="img-fluid img" src="../../assets/images/de.png"
      alt="{{product.name}}" width="400" height="50">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!--Card content-->
  <a href="" class="text-muted grey-text  text-center  ">
    <h5 class="title">{{product.subCategory.name}}</h5>
  </a>
  <mat-card-title>
    <h4 class="card-title  text-center ">
      <strong>
        <a href="">{{product.name}}</a>
      </strong>
    </h4>
  </mat-card-title>
  </div>
  <mat-card-content cascade="true" class="card-body text-center no-padding">
    <!--Category & Title-->
  
      <app-star-rating class="stars" [rating]="product.rating" [starCount]="5"></app-star-rating>

    <!--Description-->
    {{product.small_about}}.<br>
    <!--Card footer-->
    <mat-divider></mat-divider>
    <mat-card-footer class="card-footer">
      <span class="float-left font-weight-bold">
        <strong>{{product.price | number:'1.0-0'}} Ft</strong>
      </span>
      <span class="float-right">
        <button name="addToBasket" type="button" class="btn btn-warning btn-round" (click)="addToCart()"><i class="fas fa-shopping-cart"></i>
          Kosárba</button>
      </span>
    </mat-card-footer>
  </mat-card-content>
  <!--Card content-->
</mat-card>