.star{
    color: orange;
}
button{
    width: 12%;
    margin-left: 8%;
   }
   button:first-child{
    width: 12%;
    margin-left: 0!important;
   }
.container{
    min-width: 160px;
    max-width: 160px;
    margin: auto;
}