<div class="container">
<button mat-icon-button class="star" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)" >
    <mat-icon>
      {{showIcon(i)}}
    </mat-icon>
  </button>
</div>