<div class="list">
  <div class="productList" *ngFor="let order of basketContent">
    <img *ngIf="order.product.pictures.length==0" src="../../assets/images/de.png" class="image">
    <img *ngIf="order.product.pictures.length>0" src="{{URLDownload}}{{order.product.pictures[0]}}" class="image">
    <div style="color:white">
      <h5><strong>{{order.product.name}}</strong></h5>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-tb btn-warning btn-round waves-effect waves-light" (click)="minus(order)">
          —
        </label>
        <label class="btn btn-warning btn-round waves-effect amount">
          {{order.amount}}
        </label>
        <label class="btn btn-tb btn-warning btn-round waves-effect waves-light" (click)="plus(order)">
          +
        </label>
      </div>
    </div>
    <div class="productSum">
      <strong>
        <h3>{{order.product.price*order.amount  | number:'1.0-0'}} Ft</h3>
      </strong>
      <a (click)="remove(order)" style="cursor:pointer">Eltálvolít</a>
    </div>
  </div>
</div>
<mat-list>
  <mat-list-item>
    <span>Teljes Nettó ár:</span>
    <span class="example-spacer"></span>
    <span>{{sum/127*100  | number:'1.0-0'}} Ft</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span>Áfa összege:</span>
    <span class="example-spacer"></span>
    <span>{{sum - (sum/127*100) | number:'1.0-0'}} Ft</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span>
      <h4>Teljes összeg:</h4>
    </span>
    <span class="example-spacer"></span>
    <span>
      <h4>{{sum  | number:'1.0-0'}} Ft</h4>
    </span>
  </mat-list-item>
  <mat-divider style="margin-top:5%"></mat-divider>
  <mat-divider style="margin-bottom:5%"></mat-divider>
</mat-list>
