
.container{
    margin-top:12vh;
}
.productList{
    max-width: 100%;
    display: grid;
    grid-gap:5px;
    padding: 0;
    grid-template-columns: 20% 45% 33%;
    grid-auto-rows: minmax(10px, auto);
    background: #ff7961;
    margin-bottom: 20px;
    padding: 1%;
}
.alignRight{
    margin-right: 0;
    margin-left: auto;
}
.amount{
    padding-right:0;
    padding-left: 0; 
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    background: #f44336!important;
    border-color: #f44336!important;
    color: white!important;
}

.image{
 width: 100%;
 max-width: 150px;
 max-height: 150px;
 height: 100%;
 object-fit: cover;  
}
.productSum{
    color: white;
    justify-self: end;
    align-self: flex-end
}
.center{
    width: 150px;
      margin: 40px auto;
      
    }
    .input{
        min-width: 50px;
    }
    .input-group{
        max-width: 50%;
    }

    .submitButton{
        float: right;
        background: #f44336 ;
        color: white;
    }
    .submitButton:disabled{
        background: rgba(78,52,46,0.5);
        color: white;
    }  
.sum{
    margin-top: 5%;
    width: 100%;

}
.example-spacer{
    flex: 1 1 auto;
}
