<div class="toolbar-user-container">
  <button id="userButton" mat-button (click)="isOpen = !isOpen" class="toolbar-user-btn" [class.open]="isOpen" [ngStyle.xs]="{'min-width': '70px'}">
    <span fxLayout="row" fxLayoutAlign="start center">
        <img *ngIf="!imgUrl && userName!=' '" class="avatar" src="../../assets/images/avatars/noavatar.png" >
        <img *ngIf="!imgUrl && userName==' '" class="avatar" src="../../assets/images/avatars/noavatar.png" routerLink="/login">
        <img *ngIf="imgUrl" class="avatar" src="{{imgUrl}}">
      <span class="name" *ngIf="userName!=' '" fxHide fxShow.gt-xs>{{userName}}</span>
      <span class="name" id="login" *ngIf="userName==' '" fxHide fxShow.gt-xs routerLink="/login">Bejelentkezés</span>
      <mat-icon class="icon"  *ngIf="userName!=' '" fxHide fxShow.gt-xs>keyboard_arrow_down</mat-icon>
    </span>
  </button>


  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="content">
      <mat-nav-list *ngIf="userName!=' ' && !( isAdmin)">
        <mat-list-item (click)="navigate()">
          <a matLine>Profil</a>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item routerLink="/myOrders">
          <a matLine>Rendeléseim</a>
          <button mat-icon-button>
            <mat-icon>shopping_basket</mat-icon>
          </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item id="logout" (click)="logout()">
          <a matLine>Logout</a>
          <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list *ngIf="userName!=' ' && ( isAdmin)">
        <mat-list-item routerLink="/upload">
          <a matLine>Feltöltés</a>
          <button mat-icon-button>
            <mat-icon>cloud_upload</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item routerLink="/admin">
          <a matLine style="font-size:10pt">Rendelések</a>
          <button mat-icon-button>
            <mat-icon>shopping_basket</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item routerLink="/updateProduct">
          <a matLine style="font-size:6pt">Termékek frissítése</a>
          <button mat-icon-button>
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="logout()">
          <a matLine>Logout</a>
          <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</div>