:host {
    height: 100%;
  }
  
  .toolbar-user-container {
      
      height: 100%;
      position: relative;
  
      .toolbar-user-btn {
          display: flex;
          justify-content: center;
          height: 100%;
          min-width: 160px;
  
      .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color:white;
          @media screen and (max-width: 599px) {
            
        }
      }
  
      .name {
        font-family: "Montserrat", "Helvetica", Arial, sans-serif;
        font-weight: 600;
          margin: 0 8px 0 10px;
          color: white;
      }
  
      .icon {
          color:white;
          width: 16px;
          height: 16px;
          font-size: 16px;
          transform: rotate(0);
          transition: transform .25s cubic-bezier(.25,.8,.25,1);
      }
  
      &.open {
          background: rgba(0, 0, 0, .05);
  
        .icon {
          transform: rotate(-180deg);
        }
      }
    }
  
      .dropdown {
          background: white;
          z-index: 2;
          position: absolute;
          width: 100%;
          min-width: 160px;
          opacity: 0;
          visibility: hidden;
          transition: all .25s linear, max-height .25s linear, opacity .25s linear;
  
          @media screen and (max-width: 599px) {
              min-width: 65px;
          }
  
          &.open {
              opacity: 1;
              visibility: visible;
          }
      }
  }
  