<div [ngClass]="margin">
  <mat-card class="width">
    <mat-card-header>
      <mat-card-title>Bejelentkezés</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <input  class="form-control" placeholder="Email cím" type="email" [(ngModel)]="loginUserData.email" name="username" autocomplete="on" required>
      <input class="form-control" placeholder="Jelszó" type="password" [(ngModel)]="loginUserData.password" name="password" autocomplete="on" required>
      <div style="margin-top:20px">
        <!--<mat-checkbox [(ngModel)]="isLocalStorage">Emlékezz rám</mat-checkbox>--> 
      </div>
      <small style="float:right;text-align:right;width:100%;margin-top:20px;cursor: pointer;" (click)="openModal()">Elfelejtetted a jelszavad?</small>
      <h6 style="width:100%;text-align: center;margin-top:50px">Vagy jelentkezz be a social accountoddal!</h6>
      <div class="socialcontainer">
        <div class="social facebook" (click)="loginWithFacebook()">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="social google" (click)="loginWithGoogle()">
          <i class="fab fa-google"></i>
        </div>
      </div>
      <h6 style="width:100%;text-align: center;margin-top:50px">Nincs még fiókod? Regisztrálj!</h6>
      <p style="width:100%;text-align: center;text-decoration: underline;cursor: pointer;" [routerLink]="['/register']">Regisztráció</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button class="btn btn-warning btn-round" (click)="login()" type="submit" autofocus color="primary">Bejelentkezés</button>
    </mat-card-actions>
  </mat-card>
</div>