.login{
   

}
.extra{
    margin-top: 12vh;
}
.no{
    margin-top: 0vh;
}
.width{
    min-width: 300px;
    width: 500px;
    margin: auto;
}
.form-control{
    margin-top: 20px
}
.social{
    width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-self: center;
}
.facebook{
    background: #3b5998;
}
.google{
    background: #d62d20;
}
.twitter{
    background: #1dcaff;
}
.social:hover{
    background: black;
}
.socialcontainer{
    margin-top:20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}