<h1 mat-dialog-title>Kérlek add meg az email címed!</h1>
<div mat-dialog-content> 
  <mat-form-field>
    <input matInput [(ngModel)]="email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()">Rendben</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Mégsem</button>
</div>