<style>
    img {
            border: 1px solid #ddd; /* Gray border */
            border-radius: 4px;  /* Rounded border */
            padding: 5px; /* Some padding */
            width: 100%; /* Set a small width */
            margin-bottom: 1%;
        }
        
        /* Add a hover effect (blue shadow) */
    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    .container{
        position: relative;
    }
    .container .delete{
        position: absolute;
        top: 0%;
        right: 0%;
        background: white;
        border: 2px solid red;
        color: red;
        border-radius: 50%;
        padding: 0;
    }
    .pictures{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 30px;
    }
    .product { 
        grid-area: product;
    }
    .productGrid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 30px;
    }
</style>
<h1 mat-dialog-title>A {{data.product.id}} azonosítójú termék szerkesztése</h1>
<div mat-dialog-content style='font-family: Roboto, "Helvetica Neue", sans-serif!important'>
    <div class="product form">
        <label>
            Termék hozzáadása:
        </label>
        <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">
            <div class="productGrid">
                <mat-form-field>
                    <input matInput formControlName="name" required placeholder="Termék neve" name="product.name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="price" type="number" required placeholder="Termék ára" name="product.price">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="available" type="number" required placeholder="Termékből elérhető"
                        name="product.available">


                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="dealer" placeholder="Termék forgalmazója" name="product.dealer">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="small_about" placeholder="Rövid Leírás" name="product.small_about">
                </mat-form-field>
            </div>
            <app-rich-text-editor (quill_emitter)='getQuill($event)'></app-rich-text-editor>
        </form>
        <div class="pictures">
            <div *ngFor="let picture of data.product.pictures" class="container">
                <img src="{{this.downloadURL}}{{picture}}">
                <button class="btn delete" (click)="deletePicture(picture)"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <button type="button" class="btn btn-warning btn-round" (click)="imgFileInput.click()">Képek kiválasztása</button>
        <input hidden type="file" #imgFileInput (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" multiple />
    </div>
</div>






<div mat-dialog-actions>
    <button color="primary" class="btn btn-warning btn-round" (click)="onSubmitProduct()" cdkFocusInitial>Mentés</button>
    <button color="primary" class="btn btn-warning btn-round" (click)="cancel()">Mégsem</button>
</div>