<button mat-button class="toolbar-user-btn" [ngStyle.xs]="{'min-width': '20px'}" routerLink="/order" (mouseenter)="mouseEnter(true) "
  (mouseleave)="mouseEnter(false)">
  <span fxLayout="row" fxLayoutAlign="start center">
    <mark *ngIf="cartlength>0">{{cartlength}}</mark>
    <mat-icon class="icon">shopping_cart</mat-icon>
    <span class="name" fxHide fxShow.gt-xs>Kosár</span>
    <mat-icon class="icon" fxHide fxShow.gt-xs>keyboard_arrow_down</mat-icon>
  </span>
</button>

<div *ngIf="showMiniBasket && basketContent &&  basketContent[0]" class="miniBasketModal">
  Legutóbb hozzáadott termékek
  <mat-divider></mat-divider>
  <div *ngFor="let item of basketContent[0].products" style="overflow:hidden">
    <div *ngIf="item.amount>0">
      <img *ngIf="item.pictures[0]" src="{{URLDownload}}{{item.pictures[0]}}" width="20%" height="50" style="float:left">
      <img *ngIf="!item.pictures[0]" src="../../assets/images/de.png" width="20%" height="50" style="float:left">
      <p style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;float:left;word-wrap:break-word;text-align: left;width: 60%;padding: 5%">{{item.name}}</p>
      <p style="float:left;width: 20%;padding: 5%">{{item.amount}}</p>
    </div>
  </div>
</div>