.icon{
    margin-right:10%;
    color: white ;
}
.name{
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
        font-weight: 600;
    color:white;
}

@media screen and (max-width: 599px) {
    .toolbar-user-btn{
        margin-top:20%;
    }
}
mark {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;   
    border: 2px solid #FFF;
    width: 20px;
    height: 20px;  
    background-color: #FF6B6B;
    position: absolute;
    top: -5px;
    left: 30px;
    font-size: 10px;
    line-height: 12px;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-weight: 700;
    
  }
  .toolbar-user-btn:hover{
      
    mark{
            -webkit-animation-name: bounce;
            animation-name: bounce;
        -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
            transform-origin: center bottom;
        -webkit-animation-duration: 1s;
            animation-duration: 1s;
        -webkit-animation-fill-mode: both;
            animation-fill-mode: both;   
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;  
    }
  }

  @-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
              transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
              transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
              transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
              transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
              transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
              transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0,-4px,0);
              transform: translate3d(0,-4px,0);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
              transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0,0,0);
              transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
              transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
              transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
              transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
              transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0,-4px,0);
              transform: translate3d(0,-4px,0);
    }
  }
  .miniBasketModal{
        padding:5px;
        position:fixed;
        margin-top:6vh;
        margin-left: -7.5%;
        width: 400px;
        min-width: 400px;
        color: #222;
        background: #fff;
        border: 1px solid rgba(0,0,0,.05);
        border-radius: 3px;
        background-clip: padding-box;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,.15);
  }
  .basketGrid{
        display: grid;
        grid-template-areas:
        'picture picture name name name amount';
  }