<h1 mat-dialog-title>Biztosan lemondod a rendelésed?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()" >Igen</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Mégsem</button>
</div>