<div class="wrapper" *ngIf="this.authService.isLoggedIn()">
  <mat-form-field>
    <input matInput class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Megrendelés dátuma </th>
        <td mat-cell *matCellDef="let row"> {{row.order_date | date:'medium'}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Folyamat </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Szerkesztés </th>
          <td mat-cell *matCellDef="let row"> <button color="primary"  class="btn btn-warning btn-round" [disabled]="row.status!='Rendelés beérkezett'" (click)="openDialog(row)">Lemondás</button></td>
        </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
<div class="wrapper" *ngIf="!this.authService.isLoggedIn()">
  <h3>A rendeléseid megtekintéséhez jelentkezz be!</h3>

</div>