@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-red, 500);
$custom-accent:  mat-palette($mat-red, 500);
$custom-second:  mat-palette($mat-red, 500);

$custom-theme: mat-light-theme($custom-primary, $custom-accent,$custom-second);

@include angular-material-theme($custom-theme);