<h1 mat-dialog-title>{{data.type == 'error' ? 'Sikertelen rendelés!' : 'Sikeres Rendelés!'}}</h1>
<div mat-dialog-content>
  <p style='font-family: Roboto, "Helvetica Neue", sans-serif;'>A rendeléséről hamarosan emailben is kap egy megerősítést!</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Ok</button>
</div>