<div class="wrapper">
  <mat-form-field>
    <input matInput [matDatepicker]="fromPicker" placeholder="Mettől" [(ngModel)]="fromDate" (dateChange)="fromDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="toPicker" placeholder="Meddig" [(ngModel)]="toDate" (dateChange)="toDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterValue" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Color Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.status=='Törölve' || row.status=='Felhasználó által lemondott'">
            <mat-icon style="color:red">not_interested</mat-icon>
          </span>
          <span *ngIf="row.status=='Rendelés beérkezett'">
            <mat-icon style="color:black">fiber_new</mat-icon>
          </span>
          <span *ngIf="row.status=='Kiszállítva'">
            <mat-icon style="color:green">check_circle</mat-icon>
          </span>
          <span *ngIf="row.status=='Postára adva'">
            <mat-icon style="color:yellow">local_shipping</mat-icon>
          </span>
        </td>
      </ng-container>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Megrendelő </th>
        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Megrendelés dátuma </th>
        <td mat-cell *matCellDef="let row"> {{row.order_date | date:'medium'}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Folyamat </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Szerkesztés </th>
        <td mat-cell *matCellDef="let row"> <button color="primary" class="btn btn-warning btn-round"
            (click)="openDialog(row)">Szerkesztem</button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>