<h1 mat-dialog-title>A {{data.order.id}} azonosítójú rendelés szerkesztése</h1>
<div mat-dialog-content style='font-family: Roboto, "Helvetica Neue", sans-serif!important'>
    <h4>A Megrendelő adatai: </h4>
    <p>Név: {{data.order.username}}</p>
    <p>Email: {{data.order.user.email}}</p>
    <p>Telefonszám: {{data.order.user.phone}}</p>
    <p>Szállítási címe: {{data.order.user.shippingPostCode}} {{data.order.user.shippingCity}} {{data.order.user.shippingStreet}}</p>
    <p>Számlázási címe: {{data.order.user.billingPostCode}} {{data.order.user.billingCity}} {{data.order.user.billingStreet}}</p>
    <div *ngIf="data.order.user.companyName!=''">
    <p>Cég neve: {{data.order.user.companyName}}</p>
    <p>Cég adószáma: {{data.order.user.companyTax}}</p>
    </div>
    <mat-divider></mat-divider>
    <h4 style="margin-bottom:5%">A Rendelés adatai: </h4>
    <h6>Rendelés ideje: {{data.order.order_date| date:'medium'}}</h6>
    <h6>Megrendelt termékek</h6>
    <table style="width:100%;border:1px black solid">
        <th>Név </th>
        <th>Mennyiség </th>
        <th>Össz érték </th>
        <th>Viszonteladó </th>
        <tr *ngFor="let product of data.order.products">
            <td>{{product.name}}</td>
            <td>{{product.amount}} </td>
            <td>{{product.price*product.amount}} Ft </td>
            <td>{{product.dealer}} </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-6" style="min-width:300px">
            <h6>Rendelés állapota: </h6>
            <mat-select style="max-width:300px" placeholder="{{data.order.status}}" [(ngModel)]="status">
                <mat-option value="Rendelés beérkezett">Rendelés beérkezett</mat-option>
                <mat-option value="Postára adva">Postára adva</mat-option>
                <mat-option value="Kiszállítva">Kiszállítva</mat-option>
                <mat-option value="Törölve">Törölve</mat-option>
            </mat-select>
        </div>
        <div class="col-6">
            <h6>Rendelés várható kiszállítása: </h6>
            <mat-form-field class="example-full-width">
                <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="date" [value]="date" >
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

</div>
<div mat-dialog-actions>
    <button color="primary"  class="btn btn-warning btn-round"  (click)="save()" cdkFocusInitial>Mentés</button>
    <button color="primary"  class="btn btn-warning btn-round" (click)="cancel()">Mégsem</button>
</div>