.img-fluid {
    max-width: 100%;
    height: auto;
  }

  .ql-snow .ql-editor h1 {
    font-size: 2.7rem;
}
.ql-snow .ql-editor h2 {
  font-size: 2.2rem;
}

.ql-snow .ql-editor h3 {
  font-size: 1.8rem;
}
.ql-snow .ql-editor h4 {
  font-size: 1.4rem;
}
.ql-snow .ql-editor h5 {
  font-size: 1.1rem;
}
.ql-snow .ql-editor h5 {
  font-size: 0.9rem;
}
#editor1
{
  font-size: 18px;
}



.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="20px"]::before {
    content: '20px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="22px"]::before {
    content: '22px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="24px"]::before {
    content: '24px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="26px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="26px"]::before {
    content: '26px';
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="28px"]::before {
    content: '28px';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="30px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="30px"]::before {
    content: '30px';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="32px"]::before {
    content: '32px';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="34px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="34px"]::before {
    content: '34px';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="36px"]::before {
    content: '36px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="38px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="38px"]::before {
    content: '38px';
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="40px"]::before {
    content: '40px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="42px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="42px"]::before {
    content: '42px';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="44px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="44px"]::before {
    content: '44px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="46px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="46px"]::before {
    content: '46px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="48px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active[data-value="48px"]::before {
    content: '48px';
}



blockquote {
  margin: 3.9rem 0 !important;
  padding-left: 4.5rem !important;
  position: relative !important;
  border: none !important;

}

blockquote:before {
  content: "\201C" !important;
  font-size: 10rem !important;
  line-height: 0px !important;
  margin: 0 !important;
  color: rgba(0, 0, 0, 0.15) !important;
  font-family: arial, sans-serif !important;
  position: absolute !important;
  top: 3.6rem !important ;
  left: 0 !important;
}

blockquote p {
  font-family: "montserrat-regular", sans-serif !important;
  padding: 0 !important;
  font-size: 2.1rem !important;
  line-height: 1.857 !important;
  color: #0D0A0B !important;
}
::ng-deep iframe {
    pointer-events: none;
    max-width: 100%!important;
}