<button mat-button [matMenuTriggerFor]="main_menu">
  <mat-icon style="color: white">menu</mat-icon>
</button>
<mat-menu #main_menu="matMenu">
    <button mat-menu-item [routerLink]="['/home']">Főoldal</button>
  <button mat-menu-item [routerLink]="['/products']">Termékek</button>
  <button mat-menu-item onclick="location.href='http://catalog.presentforyou.hu'">Katalógus</button>
  <button mat-menu-item [matMenuTriggerFor]="categoryMenu" >Kategóriák</button>
  <mat-menu #categoryMenu="matMenu">
    <ng-container *ngFor="let mainCategory of categories">
      <button mat-menu-item [matMenuTriggerFor]="sub_menu" (click)="goProduct(mainCategory,null)">{{mainCategory.name}}</button>
      <mat-menu #sub_menu="matMenu">
        <button *ngFor="let subcategory of subcategories[mainCategory.id]" mat-menu-item (click)="goProduct(subcategory.mainCategory,subcategory)">{{
          subcategory.name }}</button>
      </mat-menu>
    </ng-container>
  </mat-menu>
</mat-menu>