.wrapper{
  margin: 2%;
  margin-top:12vh;
}
.title{
  text-align: left;
  font-weight: bolder;
}
.stock{
  color: green;
}
.price{
  font-size: calc(11pt + 1vw);
  color: red;
  font-weight: bold;
}
.respText{
  font-size: calc(6pt + 0.5vw);
}

.icon{
  padding-left: 4%;
  height: 100%;
  background: #FAFAFA;
  color: black
}
.name{
  border-radius: 10px;
  clip-path: polygon(
      25% 0, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0 100% /* left bottom */
  );
  background: green;
  color: white;
  text-align: right;
  width: 100%;
  padding-right: 10%;
}
.button{
  border-radius: 10px;
  width: 10%;
  min-width: 120px;
  margin: 0;
  background: #FAFAFA;
}
.about{
  width: 90%;
  word-break: break-word;
}
.starWrapper{
  margin-left: -3%;
  max-width: 150px;
}
.extraMargin{
  padding-top: 6vh
}
.link{
  font-size: 10pt;
  cursor: pointer;
  text-decoration: underline;
}
small{
  color: gray;
}
.margin{
  margin-top: 2%;
  margin-bottom: 2%;
}
.example-spacer{
  flex:1 1 auto;
}
.margin-left{
  margin-left: 20%;
}
.stockMarker{
  height: 100%;
  min-height: 70px;
}
.inlineList{
  min-width:300px ;
  padding-inline-start: 0px;
  display: inline-block;
  list-style: none;
}
.item{
  display: inline-block;
  padding-right: 3%
}
.orange{
  color: #f44336;
  font-size: 22pt;
  margin-right: 2%;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #f44336 !important;
}
.shipping{
  font-size: 10pt!important;
  font-weight: bold;
}
::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
 white-space: pre-wrap;
}
.extraInfo{
  width: 100%;
  border: rgb(218, 218, 218) 5px solid;
  padding-bottom: 4%;
}
.infoIcon{
  margin: 0;
  width: auto;
  height: 100%;
  font-size: calc(8pt+1vw);
  background:  rgb(218, 218, 218)
}
.Shopicon{
  padding-left: 4%;
  height: 100%;
  background: #FAFAFA;
  color: black
}
.Shopname{
  clip-path: polygon(
    25% 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
);
background: #f44336;
color: white;
width: 100%;
text-align: right;
padding-right: 10%;
border-radius: 10px;
}
.button{
  margin:0;
  background: #FAFAFA;
}
.title2{
  padding-left: 1%;
  background: rgb(218, 218, 218);
  font-size: calc(8pt+1vw);
  padding-right: 10%;
  display: inline;
  clip-path: polygon(
    0% 0, /* left top */
    100% 0, /* right top */ 
    75% 100%, /* right bottom */
    0 100% /* left bottom */
);
}
.writeOpinion{
  background: #f44336;
  color: white;
  width: 100%;
}
.opinionConatiner{
  margin: 2%;
  padding: 2%;
}
.avatar {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color:white;

}
.rightBorder{
  border-right: #FAFAFA 2px solid;
}
.progressConatiner{
  min-width:100%;
  width: 100%;
  margin: 2%;
  margin-left: 10%;
  padding: 0;
}
.nopadding{
  padding: 0;
  white-space: nowrap;
  text-align: left
}
.paddingTop{
  padding-top: 1%;
}

.fullWidth{
  width: 100%;
}
.stars{
  margin-left: 0
}
@media screen and (max-width: 600px) {
  .rightBorder{
    border-right-width: 0;
    min-width: 300px;
  }
  .rightColumn{
    min-width: 300px;
  }
  .xsMargin{
    margin-left: 5%;
  }
  .margin-left{
    margin-left: 5%;
  }
  .starMargin{
    margin-left: 5%;
  }
}

h3 {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

h3.background {
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #fff; 
        padding: 0 15px; 
    }
}

h3.double:before { 
    /* this is just to undo the :before styling from above */
    border-top: none; 
}

h3.double:after {
    border-bottom: 1px solid #f44336;
    -webkit-box-shadow: 0 1px 0 0 #f44336;
    -moz-box-shadow: 0 1px 0 0 #f44336;
    box-shadow: 0 1px 0 0 #f44336;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 0; right: 0;
    width: 95%;
    z-index: -1;
}
::ng-deep iframe {
  pointer-events: all;
  max-width: 100%!important;
}
