<div class="wrapper">
    <span fxLayout="row" fxLayoutAlign="start start" class="margin">
        <h3>{{product?.subCategory.mainCategory.name}} / {{product?.subCategory.name}} </h3>
        <span class="example-spacer"></span>
        <!-- <ul class="inlineList">
            <li class="item">
                <h3>Megosztom: </h3>
            </li>
            <li class="item"><i class="fab fa-facebook orange"></i></li>
            <li class="item"> <i class="fab fa-twitter orange"></i></li>
            <li class="item"> <i class="fab fa-google-plus orange"></i></li>
        </ul>-->
    </span>

    <mat-divider></mat-divider>
    <div class="row extraMargin">
        <div class="col" style="min-width:310px">
            <ngx-image-gallery #ngxImageGallery [images]="images" [conf]="conf" (onImageClicked)="galleryImageClicked($event)"
                style="z-index:1!important">
            </ngx-image-gallery>
            <ngx-image-gallery #ngxImageGallery2 [images]="images" [conf]="conf2" (onImageClicked)="galleryImageClicked($event)">
            </ngx-image-gallery>
        </div>
        <div class="col">
            <span fxLayout="row" fxLayoutAlign="start center" class="margin">
                <h1 class="title" style="overflow-wrap: break-word;max-width:90vw">{{product?.name}} </h1>
                <span class="example-spacer"></span>
                <!--<mat-checkbox>Összehasonlítom</mat-checkbox>-->
            </span>
            <span fxLayout="column" fxLayoutAlign="start" class="margin">
                <div class="starWrapper">
                    <app-star-rating [rating]="ratingStat.stars" [starCount]="5"></app-star-rating>
                </div>
            </span>
            <span fxLayout="row" fxLayoutAlign="start" class="margin">
                <span fxLayout="column" fxLayoutAlign="start" class="margin ">
                    <small style="max-width:150px;word-wrap:break-word"> {{product?.small_about}} </small>
                </span>
                <span class="example-spacer"></span>
                <span fxLayout="column" fxLayoutAlign="start" class="margin">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <mat-list>
                            <mat-list-item>
                                <mat-icon class="orange" mat-list-icon>local_shipping</mat-icon>                       
                                <p mat-line class="shipping">Házhozszállítás 2 990Ft</p>
                                <small mat-line>3 - 5 munkanap </small>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon class="orange" mat-list-icon>location_on</mat-icon>
                                <p mat-line class="shipping">Átvétel az üzletben ingyen</p>
                                <small mat-line>1 munkanap</small>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>

                    </span>
                </span>
            </span>
            <mat-divider></mat-divider>
            <span fxLayout="row" fxLayoutAlign="start center" class="margin" href="#about">
                <!--<mat-icon class="respText">library_books</mat-icon>
                <span class="respText "><u >Részletes leírás</u></span>-->
                <span class="example-spacer"></span>
                <button type="button" class="btn btn-warning btn-round" style="background:green!important;border-width:0"><i
                        class="fas fa-check"></i>
                    Raktáron</button>
            </span>
            <mat-divider></mat-divider>
            <span fxLayout="row" fxLayoutAlign="start center" class="margin">
                <p class="price">{{product?.price | number:'1.0-0'}} Ft </p>
                <span class="example-spacer"></span>
                <span class="float-right">
                    <button type="button" class="btn btn-warning btn-round" (click)="addToCart()"><i class="fas fa-shopping-cart"></i>
                        Kosárba</button>
                </span>
            </span>
        </div>
    </div>

    <h3 class="background double"><span>RÉSZLETES LEÍRÁS</span></h3>
    <h2 class="title" style="padding-left: 4%;overflow-wrap: break-word;overflow: hidden">{{product?.name}} </h2>
    <div  [innerHTML]="product?.about" style="max-width:100vw!important;width:100%;overflow-wrap: break-word;padding-left: 4%;overflow: hidden"></div>
    <h3 class="background double"><span>VÉLEMÉNYEK</span></h3>


    <div class="opinionConatiner row">
        <div class="col" style="min-width:280px;width:100%">
            <span mat-line><b>Termék átlagos értékelése </b></span>
            <div class="starWrapper">
                <app-star-rating class="stars" [rating]="ratingStat.stars" [starCount]="5"></app-star-rating>
            </div>
            <h2><span>{{ratingStat.avg}}</span><small> ({{ratingStat.sum}} értékelés)</small></h2>
        </div>
        <div class="col" style="min-width:280px;width:100%;">
            <h2 style="margin-top:0">Értékelje a terméket!</h2>
            <div class="starWrapper">
                <app-star-rating [changeAble]="true" [rating]="5" [starCount]="5" (ratingUpdated)="onRatingChanged($event)"></app-star-rating><br>
            </div>
            <form style="height:100%">
                <mat-form-field style="width:100%">
                    <textarea rows="5" id="opinionText" [(ngModel)]="rating.about" name="rating.about" matInput 
                        matTextareaAutosize matAutosizeMinRows=1 style="width:100%"></textarea>
                </mat-form-field>
                <button type="submit" style="float:right" class="btn btn-warning btn-round" (click)="sendRating()">
                    Küldés</button>
            </form>

        </div>



    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let rate of ratings | async" class="rate">
        <div class="row margin ">
            <div class="col-4 rightBorder">
                <span fxLayout="column" fxLayoutAlign="start start" class="margin-left">
                    <img *ngIf="!rate.user.profileImage" class="avatar" src="../../assets/images/avatars/noavatar.png" >
                    <img *ngIf="rate.user.profileImage" class="avatar" src="{{imgUrl}}">
                    <h6 class="extraPadding" style="white-space: nowrap;">{{rate.user.lastName}} {{rate.user.firstName}} </h6>
                    <small class="extraPadding">{{rate.date | date}}</small>
                    <div class="starWrapper">
                        <app-star-rating [rating]="rate.rate" [starCount]="5" [color]="accent" class="starMargin"></app-star-rating>
                    </div>
                </span>
            </div>
            <div class="col rightColumn">
                <span fxLayout="column" fxLayoutAlign="start start" class="margin">
                    <p class="extraPadding xsMargin about">{{rate.about}}</p>

                </span>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>




</div>