<div class="container">
  <div class="mainCategory form">
    <label>
      Főkategória hozzáadása:
    </label>
    <form (ngSubmit)="onSubmitMainCategory()">
      <div class="row">
        <div class="col-6  min-width">
          <mat-form-field>
            <input matInput [(ngModel)]="mainCategory.name" required placeholder="Kategória neve"
              name="mainCategory.name">
          </mat-form-field>
        </div>
        <div class="col-6 min-width">
          <button class="btn btn-warning btn-round" type="submit" [disabled]="mainCategory.name==''">Hozzáadás</button>
          <p [style.color]="this.mainCategoryResult.color">{{this.mainCategoryResult.text}}</p>
        </div>
      </div>
    </form>
  </div>

  <div class="subCategory form">
    <label>
      Alkategória hozzáadása:
    </label>
    <form (ngSubmit)="onSubmitSubCategory()">
      <div class="row">
        <div class="col-6 min-width">
          <mat-form-field>
            <input matInput [(ngModel)]="subCategory.name" required placeholder="Kategória neve"
              name="subCategory.name">
          </mat-form-field>
        </div>
        <div class="col-6 min-width">
          <mat-select placeholder="Főkategória" [(ngModel)]="subCategory.mainCategory" name="subCategory.mainCategory">
            <mat-option *ngFor="let category of mainCategories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <button class="btn btn-warning btn-round" type="submit"
        [disabled]="subCategory.name=='' || subCategory.mainCategory==''">Hozzáadás</button>
      <p [style.color]="this.subCategoryResult.color">{{this.subCategoryResult.text}}</p>
    </form>
  </div>

  <div class="product form">
    <label>
      Termék hozzáadása:
    </label>
    <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">
      <div class="productGrid">
        <mat-form-field>
          <input matInput formControlName="name" required placeholder="Termék neve" name="product.name">
        </mat-form-field>

        <mat-select placeholder="Főkategória" [(ngModel)]="selectedMainCategory" [ngModelOptions]="{standalone: true}"
          name="selectedMainCategory" (ngModelChange)="onChange($event)" required>
          <mat-option *ngFor="let category of mainCategories" [value]="category">
            {{ category.name }}
          </mat-option>
        </mat-select>


        <mat-select placeholder="Alkategória" formControlName="subCategory" name="product.subCategory" required>
          <mat-option *ngFor="let category of productSubCategories" [value]="category">
            {{ category.name }}
          </mat-option>
        </mat-select>

        <mat-form-field>
          <input matInput value="1" formControlName="price" type="number" required placeholder="Termék ára"
            name="product.price">
          <mat-error *ngIf="hasError('price')">
            Kérlek a termék árának pozitív számot adj meg!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Termékből elérhető" value="1" name="product.available"
            formControlName="available" type="number" required>
          <mat-error *ngIf="hasError('available')">
            Kérlek a termék darabszámának pozitív számot adj meg!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="dealer" placeholder="Termék forgalmazója" name="product.dealer">
        </mat-form-field>
      </div>
      <mat-form-field>
        <textarea matInput rows="2" formControlName="small_about" type="text" required
          placeholder="Termék rövid leírása" name="product.about" style="width: 100%"></textarea>
      </mat-form-field>
      <app-rich-text-editor (quill_emitter)='getQuill($event)'></app-rich-text-editor>
      <div class="buttonGrid">
        <button type="button" class="btn btn-warning btn-round" style="max-height:35px"
          (click)="imgFileInput.click()">Képek kiválasztása</button>
        <div>
          <p *ngFor="let name of this.filenames">{{name}}</p>
        </div>
        <button style="float:right" class="btn btn-warning btn-round" style="max-height:35px" type="submit"
          [disabled]="!productForm.valid">Hozzáadás</button>
      </div>
      <p [style.color]="this.productResult.color">{{this.productResult.text}}</p>
      <input hidden type="file" #imgFileInput (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" multiple />
    </form>

  </div>
  <div class="buttonGrid">
    <button type="button" class="btn btn-warning btn-round" (click)="fileInput.click()">csoportos feltöltés</button>
    <p [style.color]="this.multipleUploadResult.color">{{this.multipleUploadResult.text}}</p>
    <button type="button" class="btn btn-warning btn-round" (click)="formatData()" style="float:right">mehet</button>
  </div>
  <input hidden type="file" #fileInput (change)="onFileChange($event)" multiple="false" />
</div>