.container {
  margin-top:20vh;
  display: grid;
  grid-template-areas:
  'mainCategory subCategory'
  'product product';

}
.mat-form-field-placeholder {
  display:block !important;
  }
  
  .submitButton{
      background: #f44336 ;
      color: white;
  }
  .submitButton:disabled{
      background: rgba(78,52,46,0.5);
      color: white;
  }      
.form{
  border: 2px #f44336 solid;
  margin: 2%;
  padding: 2%;
}
.mainCategory { 
    grid-area: mainCategory;
    
  }
.subCategory { 
    grid-area: subCategory;
  }
  .product { 
    grid-area: product;
  }
.productGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.buttonGrid{
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 30px;
}

  @media only screen and (max-width: 768px)   {
      .container {
          grid-template-areas:
          "mainCategory"
          "subCategory"
          "product";
      }
      .buttonGrid{
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-gap: 30px;
      }
  }
  @media only screen and (max-width: 425px)   {
    .buttonGrid{
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      grid-gap: 30px;
    }
  }
  .min-width{
      min-width: 200px;
  }
  .quill-editor iframe {
    pointer-events: none;
}