<!--div class="container">
  <div class="header">
    <button mat-button id="cart" class="navButton" [ngClass]="{'active': active === 0 }" (click)="navigateTo(0)" >
      <mat-icon class="icon">shopping_cart</mat-icon><span fxHide.lt-md="true" fxShow="true" >Kosár</span>
    </button>
    <button mat-button id="address" class="navButton" [ngClass]="{'active': active === 1 }" (click)="navigateTo(1)">
      <mat-icon class="icon">email</mat-icon><span fxHide.lt-md="true" fxShow="true" >Cím</span>
    </button>
    <button mat-button id="shipping" class="navButton" [ngClass]="{'active': active === 2 }" (click)="navigateTo(2)">
      <mat-icon class="icon">local_shipping</mat-icon><span fxHide.lt-md="true" fxShow="true" >Szállítás és fizetés</span>
    </button>
    <button mat-button id="sum" class="navButton" [ngClass]="{'active': active === 3 }" (click)="navigateTo(3)">
      <mat-icon class="icon">check_circle</mat-icon><span fxHide.lt-md="true" fxShow="true" >Rendelés összesítés</span>
    </button>
  </div>
  <router-outlet ></router-outlet>
</div>-->
<div class="container">
  <mat-horizontal-stepper linear #stepper *ngIf="length>0">
    <mat-step  [completed]="length!=0">
        <ng-template matStepLabel>Kosár tartalma</ng-template>
        <app-order ></app-order>
        <button [disabled]="length==0" type="button" class="btn btn-warning btn-round" style="float:right" matStepperNext>Tovább az adatokhoz</button>
    </mat-step>
    <mat-step [completed]="finishedEvent">
        <ng-template matStepLabel>Rendelési adatok</ng-template>
        <app-address [stepper]="stepper" (finishedEvent)="finisehed($event)"></app-address>
    </mat-step>

    <mat-step [completed]="finishedEvent" >
        <ng-template matStepLabel>Szállítás és fizetés</ng-template>
        <app-shipping [stepper]="stepper" ></app-shipping>
    </mat-step>

    <mat-step [completed]="finishedEvent">
        <ng-template matStepLabel>Rendelés összesítése</ng-template>
        <app-sum ></app-sum>
    </mat-step>
  </mat-horizontal-stepper>
  <h1 *ngIf="length==0" style="width:100%;text-align:center"> Az ön kosara üres!</h1>
</div>