.container{
    margin-top:12vh;
}
.header{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 2%;
}
.navButton{
    background: #ff7961;
    margin-right: 2px;
    padding: 0!important;
    min-width: 71px;
}
.active{
    background: #f44336;
    color: white;
}
.icon{
    border-radius: 100%;
    background: white;
    color: #f44336;
    margin-right: 10%;
}