<span fxLayout="row" fxLayoutAlign="start center" class="main-toolbar" *ngIf="showSearch">
  <div *ngIf="categories.length>0">
    <app-desktop-menu [categories]="categories"></app-desktop-menu>
  </div>
  <img src="../../assets/logo.png" class="logo" [routerLink]="['/']" />

  <form class="search" fxShow.lt-md="false">
    <input type="text" class="form-control" (keyup)="search()" placeholder="Keress a termékek között" [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" class="panel">
      <mat-option *ngFor="let option of options | async" [value]="option.name" [routerLink]="['/product', option.id]">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <span class="example-spacer"></span>
  <mat-icon fxShow.lt-md="true" fxHide="true" class="searchField" (click)="showSearch=!showSearch">search</mat-icon>
  <app-basket></app-basket>
  <app-user-menu></app-user-menu>
</span>
<span fxLayout="row" fxLayoutAlign="start center" class="main-toolbar" *ngIf="!showSearch">
  <mat-icon class="searchField" style="margin-left:2%;margin-right:2%">search</mat-icon>
  <form class="search" style="margin-left:0%!important">
    <input type="text" class="form-control" (keyup)="search()" placeholder="Keress a termékek között" [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" class="panel">
      <mat-option *ngFor="let option of options | async" [value]="option.name" [routerLink]="['/product', option.id]">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </form>
  <mat-icon class="searchField" style="margin-left:2%;margin-right:2%" (click)="showSearch=!showSearch">close</mat-icon>
</span>

<router-outlet></router-outlet>