#container{
    margin-top:12vh;
    margin-bottom: -5%;
    position: fixed;
    top: 0;
    z-index: 1;//galary has auto 1000 z-index
    width: 5%;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.searchField{
    color: white;
    transform: perspective(1px);
}

.logo{
    cursor: pointer;
    max-width: 20vw;
    max-height: 8vh;
    
}
  .user{
    cursor:pointer;
    
  }
  
.example-spacer{
    flex:1 1 auto;
}
  .picture{
    border-radius: 100%;

  }
.search{
    color:white;
    flex: 1 1 auto;
    font-size: 1vw;
    margin-left:5%;
    width: 20%;
}


mat-toolbar{
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 20px rgba(0,0,0,0.19);
}

.main-toolbar{
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 10vh;
    max-width: 100%;
    z-index: 2;//galary has auto 1000 z-index
    background: #f44336
    ;
}
.mainCategory{
    font-weight: bold;
}
.icon{
    padding-right: 4%;
    color: #f44336;
}
.mat-sidenav-container {
    background: rgba(0, 0, 0, 0.00);
  }
  
  .blank-grow {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background: rgba(0,0,0,0)
  }
  .toogle{
    background: rgba(0, 0, 0, 0.00);
    border-width: 0;
   
  }
  .secondary-toolbar{
    position: fixed;
    z-index: 2001;//galary has auto 1000 z-index
  }

  