.wrapper{
    margin-top: 12vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.inner{
    padding: 3%;

}
.image{
    width:100%;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.sub{
    text-align: center;
}
.link{
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    letter-spacing: -1px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
  }
  .slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  
  
  /*---------------------------------------------------------
  NAV
  ---------------------------------------------------------*/
  

  .nonDraggableImage{
    -webkit-user-drag: none;
  }
  
 