<div class="wrapper">
  <div class="inner" *ngFor="let category of categories">
    <div class="container slider">
      <div [@slideAnimation]="category.imageIndex">
      <ng-template ngFor [ngForOf]="category.pictures" let-slide let-i="index">
        <img  class="slide slide-animation nonDraggableImage " *ngIf="isCurrentSlideIndex(category,i)" [src]="slide">
      </ng-template>
      </div>
    </div>
    <strong>
      <h2 class="title">{{category.title}}</h2>
    </strong>
    <h5 class="sub">{{category.subTitle}}</h5>
    <p class="link">vedd meg most</p>
  </div>
</div>