.registrate{
    margin-top: 12vh;

}
.width{
    min-width: 300px;
    width: 500px;
    margin: auto;
}
.form-control{
    margin-top: 20px
}
.input{
    width: 100%;
}
.padding{
    padding-top: 5%;
}