<div class="registrate">
  <form [formGroup]="userForm" (ngSubmit)="send()">
    <mat-card class="width">
      <mat-card-header>
        <mat-card-title>Regisztráció</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="input">
          <input matInput class="padding" autocomplete="on" placeholder="Email cím" formControlName="email" type="email" required>
          <mat-error *ngFor="let validation of validation_messages.email">
            <mat-error class="error-message" *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input autocomplete="new-password" autocomplete="on" id="password1" matInput class="padding" placeholder="Jelszó" type="password" formControlName="password" required>
          <mat-error *ngFor="let validation of validation_messages.password">
            <mat-error class="error-message" *ngIf="userForm.get('password').hasError(validation.type) && (userForm.get('password').dirty || userForm.get('password').touched)" >{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <input autocomplete="new-password" autocomplete="on" id="password2"  matInput class="padding" placeholder="Jelszó megerősítése" type="password" formControlName="confirmpassword" required>
          <mat-error *ngFor="let validation of validation_messages.confirmpassword">
            <mat-error class="error-message" *ngIf="userForm.get('confirmpassword').hasError(validation.type) && (userForm.get('confirmpassword').dirty || userForm.get('confirmpassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <h6 style="width:100%;text-align: center;margin-top:50px">Már van fiókod? Lépj be!</h6>
        <p style="width:100%;text-align: center;text-decoration: underline;cursor: pointer;" [routerLink]="['/login']">Bejelentkezés</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="btn btn-warning btn-round"  color="primary" type="submit" [disabled]="!userForm.valid">Regisztráció</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>