<div class="container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Temékek szűrése
                </mat-panel-title>
                <mat-panel-description>
                    Nyissa le a szűrők megjelenítéséhez
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="priceBox">
                <div class="custom-slider" *ngIf="maxValue!==0">
                    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="filterProducts()"></ng5-slider>
                </div>
                <div class="inputs">
                    <input type="text" [(ngModel)]="minValue" class="min" (change)="filterProducts()">
                    <p style="float:left;padding-left:3%;padding-right:3%"> - </p>
                    <input type="text" [(ngModel)]="maxValue" class="max" (change)="filterProducts()">
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>


<div class="boxes" style="margin-top:10%">
    <app-card *ngFor="let product of stuffs" [product]="product">
    </app-card>
</div>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChanged($event)">
</mat-paginator>
</div>