.container{
    padding: 5%;
    padding-top: 20vh;
    height:100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%!important;

}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #f44336 !important;
  }
  
 .image{
     width: 80%;
//     height: 25%;

     margin-left: 10%;  
 }
 .title{
    text-align: center;
}
.stock{
    text-align: center;
    color: green;
}
.outOfStock{
    text-align: center;
    color: red;
}
.price{
    text-align: center;
    color: red;
}
.icon{
    padding-left: 4%;
    height: 100%;
    background: #e0e0e0;
    color: black
}
.name{
    clip-path: polygon(
        25% 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 100% /* left bottom */
    );
    background: #f44336;
    color: white;
    width: 100%;
}
.button{
    margin: 0;
    background: #e0e0e0;
}


.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
  }

  .card-ecommerce{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  .overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.card.card-cascade.narrower .view.view-cascade {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -4.25rem;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.card.card-cascade .view.view-cascade {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.view img, .view video {
    position: relative;
    display: block;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.grey-text {
    color: #9e9e9e!important;
}
.text-center {
    text-align: center!important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.title{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.card-title {
    color: #f44336;
    margin-bottom: .75rem;
}
.rating {
    color: #ffa000;
    list-style-type: none;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.rating li {
    display: inline-block;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
    min-height: 30px;
  
}
.font-weight-bold {
    font-weight: 700!important;
}
.float-left {
    float: left!important;
}
.float-right{
    margin-top: -3%;
    float: right!important;
}
.priceBox{
    width: 20vw;
    min-width: 200px;
    margin-bottom: 3vh
    
}
.min{
    width: 45%;
    float:left;
}
.max{
    width: 45%;
    float: left;
}
.inputs{
    overflow: hidden;
}

::ng-deep {

    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
        color: #f44336
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      color: #f44336
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
        color: #f44336
    }
  }